.containerbg{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
    background-position: top top;
}


.containerbg img {
    width: 30rem;
    height: 45rem;
    border-radius: 1.5rem;
    animation: imganimation 1.5s;
}

@keyframes imganimation {
    0% {
        transform: translateY(-200%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.moviedetails {
    display: flex;
    flex-direction: column;
    width: 50%;
    color: white;
    justify-content: center;
    gap: 2rem;
    animation: transitionmodal 1.5s;
}

.moviedetails h2 {
    font-size: 3.5rem;
}

.moviedetails h2 span {
    font-weight: 400;
    color: rgb(170, 170, 170);
}

.moviedetails p {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.moviedetails h3 {
    font-size: 3rem;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.titleinfo h3 span {
    display: flex;
    align-items: center;
}

.moviedetails h4 {
    font-size: 2.3rem;
    color: rgb(170, 170, 170) ;
    font-weight: 400;
}

.moviedetails h5 {
    font-size: 2rem;
}

.castinfos {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: 0 auto;
    margin-top: 1rem;
   
}

.castinfos h2 {
    font-size: 2rem;
    font-weight: 600;
}

.persons {
    display: flex;
    gap: 2rem;
    overflow-x: scroll;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.favoritebutton {
    display: flex;
    padding: 1rem;
    border: none;
    background-color: rgb(216, 216, 36);
    color: white;
    border-radius: 1rem;
    cursor: pointer;
    transition: 1s;
}

.favoritebutton:hover {
    background-color: rgb(145, 145, 31);
}

.aga3 {
    display: flex;
    font-size: 3rem;
    align-items: center;
    font-weight: 700;
    gap: 1rem;
}

.favoritebutton.selectedfavorite {
    background-color: red;
    transition: 1s;
}

.favoritebutton.selectedfavorite:hover {
    background-color: rgb(136, 18, 18);
}