.favoritescontainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-height: 86vh;
}

.favoritesbuttons {
    display: flex;
    width: 100%;
    justify-content: center;
}

.favbuttonsdiv {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.favbuttonsdiv button {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 1.2rem;
    cursor: pointer;
}

.animationdiv1 { 
    background-color: #0C3455;
    height: 0.22rem;
    margin-top: -0.25rem;
    animation: favoritesanimation1 .5s linear;
    position: relative;

}

.animationdiv2 {
    background-color: #0C3455;
    height: 0.22rem;
    margin-top: -0.25rem;
    animation: favoritesanimation .5s linear;

}

.invisible {
    display: none;
}

@keyframes favoritesanimation {
    0% {
        transform: translateX(-100%); 
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes favoritesanimation1 {
    0% {
        transform: translateX(100%); 
    }
    100% {
        transform: translateX(0%);
    }
}



.favoritesexib {
    justify-content: center;
    display: flex;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-wrap: wrap;
}