.navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(12, 52, 85) ;
    padding: 2rem 0rem;
    width: 100%;
    gap: 20rem;
    font-size: 1.5rem;
    font-weight: 60;
}

.navbar-container ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    color: white;
    align-items: center;
    font-weight: 700;
}

.navbarul1 p {
    cursor: pointer;
}

.buttonsearch {
    background-color: transparent;
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}

.fontweightnav {
    font-weight: 700;
}

.mobilenav {
    display: none;
}

.here a {
    color: white;
    font-size: 2.3rem;
    display: flex;
}

@media screen and (max-width: 600px) {
    .navbar-container {
        display: none;
    }
    .mobilenav {
        display: flex;
        justify-content: space-around;
    }
}