.searchmoviecard {
    display: flex;
    border: 1px solid lightgray;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    min-width: 50vw;

}

.searchmoviecard a {
    color: black;
    font-size: 2rem;
    font-weight: 700;
}

.searchmoviecard h3 {
    font-weight: 400;
    font-size: 1.4rem;
    color: rgb(116, 116, 116);
}

.searchmoviecard img {
    width: 10rem;
    height: 100%;
}

.otherinfos {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    
}

.otherinfos p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
  }

  @media screen and (max-width: 980px) {

    .searchmoviecard {
      max-height: 14rem;
    }

    .searchmoviecard a {
        font-size: 1.6rem;
        font-weight: 700;
    }

    .searchmoviecard h3 {
        font-size: 1.44rem;
    }

    .searchmoviecard p {
        font-size: 1.44rem;
    }

    .searchmoviecard img {
        max-height: 14rem;
        min-width: 9.4rem;
    }
  }