.searchperson {
    display: flex;
    gap: 2rem;
    border: 1px solid lightgray;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    width: 100%;
}

.searchperson a {
    color: black;
    font-size: 1.7rem;
    font-weight: 700;
}

.searchperson img {
    width: 7rem;
    height: 100%;
    border-radius: 1.5rem;
}

.searchperson div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.searchperson p a {
    color: black;
    font-weight: 400;
    font-size: 1.5rem;
}

.backspace {
    display: flex;
    gap: 0.5rem   ;
}