.toprated {
    width: 65%;
    display: flex;
    padding-top: 5rem;
    flex-direction: column;
    justify-content: center;
}

.toprated h2 {
    font-size: 2.5rem;
    display: flex;
    align-items: center;

}

.categories {
    display: flex;
    gap: 1.5rem;
    
}

.buttonsdiv {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1rem solid rgb(12, 52, 85);
    border-radius: 2rem;
}

.buttonsdiv p {
    padding: 0.9rem 2rem;
    border: none;
    border-radius: 2rem;
    background-color: white;
    cursor: pointer;
    font-size: 1.5rem;
}

.buttonsdiv p.active {
    background-color: rgb(12, 52, 85);
    color: white;
    transition: 1s;
  }

  .moviesexib {
    display: flex;
    gap: 2rem;
    overflow-x: scroll;
  }

  ::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.9rem;
    background-color: #F5F5F5;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgb(214, 214, 214);
    border-radius: 4px;
  }

  .divrelative {
    position: relative;
  }

  @media screen and (max-width: 600px) {
    .toprated {
      width: 100%;
      padding: 2rem;
    }
    .toprated h2 {
      font-size: 2rem;
      display: flex;
      align-items: center;
  }

  .buttonsdiv p {
    font-size: 1.4rem;
    padding: 0.7rem 1.8rem;
  }
  }

  @media screen and (max-width: 360px) {
    .toprated {
      width: 100%;
      padding: 2rem;
    }
    .toprated h2 {
      font-size: 1.7rem;
      display: flex;
      align-items: center;
  }

  .buttonsdiv p {
    font-size: 1.4rem;
    padding: 0.7rem 1.8rem;
  }
  }

  .invisible {
    display: none;
  }


  @media screen and (max-width: 280px) {
    .toprated {
      width: 100%;
      padding: 2rem;
    }
    .toprated h2 {
      font-size: 1.3rem;
      display: flex;
      align-items: center;
  }

  .buttonsdiv {
    padding: 0rem;
  }

  .buttonsdiv p {
    font-size: 1.2rem;
    padding: 0.9rem 1.8rem;
  }
  }

